*{
    scroll-behavior: smooth;
}

.tops{
    background-image: url(https://cdn.pixabay.com/photo/2015/03/26/09/41/condominium-690086_960_720.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
}

li{
    list-style: none;
}

.recents{
    margin-bottom: 150px;
}

a:hover{
    text-decoration: none;
    color: black;
    padding: 10px 20px 5px 20px;
    border-bottom: 2px solid white;
}

.hover-text{ 
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(19, 19, 43, 0.315);
    padding: 20px;
    color: white;
    width: auto;
    height: auto;
}

#listings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
} 

.hidden {
    display: none;
}

.show {
    display: block;
}